*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}

/*HEADER*/
.top{
  height: 100px;
  background: #34495e;
  padding: 0 20px;
  color: #fff;
}
.icon{
  line-height: 100px;
  float: left;
  text-transform: uppercase;
}

.card{
  float: right;
  line-height: 100px;
}
.card a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}
.open-card-dot,.close-card-dot{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.open-card-dot{
  float: right;
}
.open-card-dot i{
  line-height: 100px;
}
.card a:hover,
.open-card-dot:hover,
.close-card-dot:hover{
  color: #3498db;
}

#chk{
  position: relative;
  visibility: hidden;
}

/*FOOTER*/
.bottom{
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 50px;
        padding-left: 50px;
        background-color: #F3F5F5;
        width: auto;
        text-align: left;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 16px;
}
.bottom .bottom-forward,
.bottom .bottom-middle,
.bottom .bottom-backward {
  vertical-align: top;
  display: inline-block;
}
.bottom .bottom-forward {
  padding-right: 15px;
  width: 33%;
}
.bottom .us { 
  margin: 0;
  line-height: 20px;
  color: rgba(0,0,0,0.6);
  font-size: 13px;
  font-weight: normal;
}
.bottom .us span {
  display: block;
  color: rgba(0,0,0,0.6);
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}
.bottom .symbol {
  margin-top: 25px;
}

.bottom .symbol a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  font-size: 25px;
  text-align: center;
  color: rgba(155, 18, 215 ,0.5);
  margin-right: 6px;
  margin-bottom: 5px;
}
.bottom .symbol a:hover{
  color: rgba(0,0,0,0.6); 
  -webkit-transition:all ease 0.5s;
}
  .bottom .bottom-middle {
  width: 30%;
}

.bottom .bottom-middle i {
  color: rgba(0,0,0,0.6);
  font-size: 25px;
  width: 38px;
  height: 38px;
  text-align: center;
  margin: 10px 15px;
  vertical-align: middle;
}

.bottom .bottom-middle i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.bottom .bottom-middle p {
  display: inline-block;
  color: rgba(0,0,0,0.6);
  vertical-align: middle;
  margin: 0;
}

.bottom .bottom-middle p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.bottom .bottom-middle p a {
  color: #0099ff;
  text-decoration: none;
}
.bottom .bottom-middle p a:hover {
  color: rgba(155, 18, 215,0.5);
  -webkit-transition:all ease 0.5s;
}
  .bottom .bottom-backward {
  width: 35%;
  margin-left: 2px;
}
.bottom .bottom-backward b{
  color: rgba(0,0,0,0.6);
  margin-left: -12px;
  font-size: 20px;
}
 h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  color: #0099ff;
}

.bottom .title {
  color: rgba(0,0,0,0.6);
  margin: 20px 0 12px;
  padding: 0;
}

.bottom .title a {
  display: block;
  line-height: 1.8em;
  text-decoration: none;
  color: inherit;
}

.bottom .title a:hover {
  color: #0099ff;
  -webkit-transition:all ease 0.5s;
}

.bottom .label {
  color: #0099ff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}



@media screen and (max-width:760px) {

  /*HEADER*/
  .open-card-dot,.close-card-dot{
    display: block;
  }
  .card{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }
  .card a{
    display: block;
    padding: 20px;
  }
  .close-card-dot{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ .card{
    right: 0;
  }


/*FOOTER*/
  .bottom {
    font-size: 14px;
  }
  .bottom .bottom-forward,
  .bottom .bottom-middle,
  .bottom .bottom-backward {
    display: block;
    width: auto;
    margin-bottom: 40px;
    text-align: center;
  }
  .bottom .bottom-middle i {
    margin-left: 0;
  }
}





/*NEWS*/
.box {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  
  display: grid;
  
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.paper {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  
  top: 0;
  transition: all .1s ease-in;
}

.paper:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.paper .cover {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

/*WRITING*/
.paper h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.paper p { 
  line-height: 1.4;
}

.paper span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  margin: 32px 0 0 0;
}

.paper article {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/*ADS*/
.ads{
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  padding: 30px;
  background:   #7FFFD4;
}
.ads h1{
  font-size: 100px;
  margin: 0;
}
.ads h2{
  font-size: 36px;
  margin: 0 0 20px 0;
}
.ads a{
  color: #333;
  padding: 10px 22px;
  font-size: 22px;
  text-decoration: none;
  background: white;
  transition: 0.3s;
  display: inline-block;
}
.ads a:hover{
  color: white;
  background: none;
}



/* breaking-news*/
.breaking-news{
  display: flex;
  background: #D3D3D3;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  line-height: 35px;
}

.one{
  margin-left: 20px;
  width: 25%;
}
.two{
  width: 75%;
}

@media only screen and (min-width: 520px) {
  .box {
    grid-template-columns: 1fr 1fr;
}  
  .first {
    grid-column: 1/ span 2;
}

@media only screen and (min-width: 760px) {
  .box {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.box{
    padding: 10px 0;
    margin-top: 20px;
}

