/*This is css for the embled video in tutorial page to make it responsive with the page*/
.iframe-pot{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-pot iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}